{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "webpack.config.dev.js"
      }
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-use-before-define": [
      1
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "import/prefer-default-export": 0,
    "no-shadow": "off", // replaced by ts-eslint rule below
    "no-alert": "off",
    "no-continue": "off",
    "@typescript-eslint/no-shadow": "error",
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-wrap-multilines": ["error", {"declaration": false, "assignment": false}],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "import/order": 0,
    "no-use-before-define": [
      0
    ],
    "react/jsx-props-no-spreading": [
      1,
      {
        "custom": "ignore"
      }
    ]
  }
}